#entbody {
  position: relative;
  min-height: 100vh; }

.canvas-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block; }

canvas {
  border: 1px solid #000000; }
